@model IEnumerable<HotelPedia.Models.Hotel>

@{
    ViewBag.Title = "HotelPedia";
}

<head>
    <meta charset="UTF-8">
    <link href="~/Content/HomePage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div class="find-the-best-hotels">
        <p>Find the <br> best hotels <br> in Skopje, <br> Macedonia</p>
    </div>

    <div class="slidecontainer">

        <input type="range" min="1" max="3" value="1" class="slider" id="myRange"><br/>
        <p><span id="demo"></span></p>

        @*<fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>*@
        <form method="post" id="ratethecommand" action="@Url.Action("HotelPedia", "Hotels")">
            <a href="@Url.Action("HotelPedia/1", "Hotels")"><input class="star {split:2}" type="radio" name="test-4-rating-3" /></a>
            <a href="@Url.Action("HotelPedia/2", "Hotels")"><input class="star {split:2}" type="radio" name="test-4-rating-3" /></a>
            <a href="@Url.Action("HotelPedia/3", "Hotels")"><input class="star {split:2}" type="radio" name="test-4-rating-3"/></a>
            <a href="@Url.Action("HotelPedia/4", "Hotels")"><input class="star {split:2}" type="radio" name="test-4-rating-3" /></a>
            <a href="@Url.Action("HotelPedia/5", "Hotels")"><input class="star {split:2}" type="radio" name="test-4-rating-3" /></a>

            <input type="text" name="rating"/>
        </form>

        <div class="btnSearchContainer">
            <input type="button" value="Search" onclick="location.href='@Url.Action("HotelSearch", "Hotels")'" class="btn btnSearch" />
            @*<a href="Result.html" class="button">Search</a>*@
        </div>
        


    </div>


<script src="~/Content/DollarRangeSelect.js"></script>
</body>


