<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - HotelPedia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="glavenDiv">

        <div class="headerDiv">
            <div class="header">
                <p id="one"></p>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "HotelPedia", "Hotels")</li>
                    <li>@Html.ActionLink("HOTEL SEARCH", "HotelSearch", "Hotels")</li>
                    <li>@Html.ActionLink("DISCOVER", "Discover", "Hotels")</li>
                    <li>@Html.ActionLink("ABOUT", "ABOUT", "Hotels")</li>
                    <li class="form-li">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="body1">
                <p id="two">HotelPedia<br>Skopje</p>
            </div>

        </div>

        <div class="bodyDiv">

            @RenderBody()

        </div>

    </div>


    <footer>
        <p>&copy; @DateTime.Now.Year - HotelPedia</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
